/**
 * @file
 * Styles for lei-entity preview page.
 */

.lei-entity-preview-container {
  position: fixed;
  z-index: 499;
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
}

@media only screen and (min-width: 36em) {
  .lei-entity-preview-container .form-type-select {
    margin-left: 25%; /* LTR */
  }

  [dir="rtl"] .lei-entity-preview-container .form-type-select {
    margin-right: 25%;
    margin-left: 0;
  }
}
